.navHeader {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1.5rem 10rem;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navHeader div a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  max-height: 60px;
}
.navHeader div a img {
  max-height: 40px;
}

.navHeader > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  gap: 2rem;
}

.navHeader > ul > li {
  margin: 0 0.2rem;
}

.navHeader > ul > li > a {
  color: var(--color-texto);
  text-decoration: none;
}

.navHeader > ul > li > a:hover {
  color: var(--color-secundario);
  text-decoration: none;
}

.pageInicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 88px);
  padding: 0 5rem;
}

.pageInicio > article:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
}

.pageInicio > article:nth-child(1) > h1 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--color-texto);
  margin-bottom: 1rem;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.4;
  margin-bottom: 3rem;
}

.pageInicio > article:nth-child(1) > h2 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--color-texto);
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1.1;
}

.pageInicio > article:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  background-image: url(/images/7.png);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}
.pageSignUp {
  background-color: var(--color-terciario);
  min-height: calc(100vh - 88px);
  padding-top: 110px;
  display: flex;
  flex-direction: row;
  padding: 10rem 5rem 0 0rem;
}
.pageSignUp > article:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  background-image: url(/images/1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.pageSignUp > article:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  & > h1 {
    width: 100%;
    font-size: 3rem;
    font-weight: 500;
    color: var(--color-texto-accento);
    text-align: left;
    margin-left: 2rem;
    line-height: 1.2;
    margin-bottom: 3rem;
  }
  & > form {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 3rem;
    padding: 0 8rem 0 2rem;
  }
  & > p {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-cuarto);
    text-align: left;
    margin-left: 2rem;
    line-height: 1.4;
    & > a {
      color: var(--color-texto-accento);
      margin-left: 0.5rem;
    }
  }
}

.pageRegistro {
  background-color: var(--color-fondo);
  min-height: calc(100vh - 88px);
  padding-top: 110px;
  display: flex;
  flex-direction: row;
  padding: 0 8rem;
}

.pageRegistro > article:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  & > h1 {
    width: 100%;
    font-size: 5rem;
    font-weight: 500;
    color: var(--color-texto-accento);
    text-align: left;
    margin-left: 2rem;
    line-height: 1.2;
    margin-bottom: 3rem;
  }
  & > form {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 1.5rem;
    padding: 0 8rem 0 2rem;
  }
  & > p {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-texto-secundario);
    text-align: left;
    margin-left: 2rem;
    line-height: 1.4;
    margin-bottom: 2rem;
    & > a {
      color: var(--color-primario);
      margin-left: 0.5rem;
    }
  }
}
.pageRegistro > article:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  background-image: url(/images/4.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}
.stepperContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.stepper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2rem;
  position: relative;
  z-index: 10;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--color-texto-secundario);
    z-index: -1;
  }
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-weight: 600;
    background-color: var(--color-texto-terciario);
    color: var(--color-texto-accento);
    width: 3.5rem;
    height: 3.5rem;
  }
}

.stepper .current {
  background-color: var(--color-primario);
}

.pageDescubre {
  background-color: var(--color-fondo);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10rem;
  margin-bottom: 5rem;
  & > h1 {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-texto);
    text-align: center;
    margin-left: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  & > p {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-texto-secundario);
    text-align: center;
    margin-left: 2rem;
    line-height: 1.4;
    margin-bottom: 2rem;
  }
}

.testContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  & > h2 {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-texto);
    text-align: center;
    margin-left: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  & > p {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-texto-secundario);
    text-align: center;
    margin-left: 2rem;
    line-height: 1.4;
    margin-bottom: 3rem;
  }
}

.testResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  & > h1 {
    width: 100%;
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--color-texto);
    text-align: center;
    margin-left: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  & > h2 {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-texto);
    text-align: center;
    margin-left: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  & > p {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-texto-secundario);
    text-align: center;
    margin-left: 2rem;
    line-height: 1.4;
    margin-bottom: 3rem;
  }
}

.clasificacionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: auto;
  gap: 1rem;
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    box-shadow: var(--sombra-primaria);
    min-height: 250px;
    padding: 20px;
    flex: 1 0;
    & > h3 {
      width: 100%;
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--color-primario);
      text-align: center;
      margin-left: 2rem;
      line-height: 1.2;
      text-align: left;
      margin-bottom: 1rem;
    }
    & > p {
      width: 100%;
      font-size: 1.1rem;
      font-weight: 500;
      color: var(--color-texto-secundario);
      text-align: center;
      line-height: 1.4;
      text-align: left;
    }
  }
}
.carrerasContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 0rem;
  gap: 1rem;
  & > div {
    flex: 1 0;
  }
  & a {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-texto-secundario);
    text-align: left;
    line-height: 1.6;
    word-wrap: break-word;
  }
}
.pageCarrera {
  background-color: var(--color-fondo);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 10rem;
  gap: 2rem;
  & > article:nth-child(1) {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
    & > p {
      width: 100%;
      font-size: 1.1rem;
      font-weight: 400;
      color: var(--color-texto-secundario);
      text-align: center;
      line-height: 1.4;
      text-align: left;
    }
  }
  & > article:nth-child(2) {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
    & > p {
      width: 100%;
      font-size: 1.1rem;
      font-weight: 400;
      color: var(--color-texto-secundario);
      text-align: center;
      line-height: 1.4;
      text-align: left;
      margin-top: 5rem;
    }
  }
}

.nubePalabras {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: normal;
  padding: 20px;
  flex: 1 0;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.tags {
  display: flex;
  height: max-content;
  background-color: var(--color-primario);
  padding: 0.5rem;
  font-size: small;
  border-radius: 15px;
  color: var(--color-texto-accento);
}
.rangoSalarios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
  position: relative;
  & div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-texto-secundario);
    text-align: center;
    line-height: 1.4;
    gap: 1.5rem;
    text-align: left;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 17px;
    width: 68%;
    left: 16%;
    height: 1px;
    background-color: var(--color-texto-secundario);
  }
}
.comentarios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 80%;
  padding: 0 10rem;
  & > label {
	font-size: 1.1rem;
	font-weight: 400;
	color: var(--color-texto-secundario);
	text-align: left;
	line-height: 1.4;
	margin-bottom: 1rem;
  }
}

.universidadesImg{
	width: 100%;
	background-color: #a31e32;
	min-height: 91vh;
	& img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	};
}
.asesoriasImg{
	width: 100%;
	min-height: 91vh;
	& img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	};
}