:root {
  --color-primario: #0482b5; /* Azul marino azulado */
  --color-secundario: #18a6d1; /* Azul claro */
  --color-terciario: #1884d1; /* Gris claro */
  --color-cuarto: #dfdfdf; /* Rosa */

  /* Acentos */
  --color-accento-1: #733394; /* Rosa */
  --color-accento-2: #ffd740; /* Amarillo */
  --color-accento-3: #00e676; /* Verde */

  /* Textos */
  --color-texto: #333333; /* Negro */
  --color-texto-secundario: #666666; /* Gris medio */
  --color-texto-terciario: #989898; /* Gris medio */
  --color-texto-accento: #ffffff; /* Blanco */

  /* Otros colores */
  --color-fondo: #ffffff; /* Blanco */
  --color-borde: #cccccc; /* Gris claro */
  --transparent: transparent;

  /* Sombras */

  --sombra-primaria: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: transparent;
  min-height: 100vh;
}
@font-face {
  font-family: "Roboto";
  src: url(/public/fonts/Roboto-Black.ttf) format("truetype"),
    url(/public/fonts/Roboto-Bold.ttf) format("truetype"),
    url(/public/fonts/Roboto-Light.ttf) format("truetype"),
    url(/public/fonts/Roboto-Medium.ttf) format("truetype"),
    url(/public/fonts/Roboto-Regular.ttf) format("truetype"),
    url(/public/fonts/Roboto-Thin.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.btn {
  display: flex;
  height: auto;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 5px;
  word-wrap: break-word;
  flex-wrap: wrap;
}
.btn-primary {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-texto-accento);
  background-color: var(--color-primario);
  text-align: left;
  &:hover {
    color: var(--color-texto-accento);
    background-color: var(--color-secundario);
    text-decoration: none;
  }
}
.btn-lg {
  width: max-content;
  font-size: 2.5rem;
  font-weight: 600;
  min-width: 10rem;
  text-align: center;
  color: var(--color-texto-accento);
  background-color: var(--color-primario);
  transition: all 0.15s ease-in-out;
  &:hover {
    color: var(--color-texto-accento);
    text-decoration: none;
  }
}
.btn-sm {
  font-size: 1.1rem;
  font-weight: 600;
  min-width: 10rem;
  text-align: center;
  color: var(--color-texto-accento);
  background-color: var(--color-primario);
  transition: all 0.15s ease-in-out;
  &:hover {
    color: var(--color-texto-accento);
    text-decoration: none;
  }
}
.bg-purple {
  background-color: var(--color-accento-1);
  width: 100%;
  &:hover {
    background-color: var(--color-accento-2);
    text-decoration: none;
  }
}
.color-purple {
  color: var(--color-accento-1);
}
.btn-login {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-texto-accento);
  background-color: var(--color-secundario);
  text-align: left;
  margin-bottom: 2rem;
  transition: all 0.15s ease-in-out;
  &:hover {
    color: var(--color-texto-accento);
    background-color: var(--color-primario);
    text-decoration: none;
  }
}
input,
textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-borde);
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-texto);
  background-color: var(--color-fondo);
  transition: all 0.3s ease-in-out;
  &:focus {
    outline: none;
    border-color: var(--color-primario);
    box-shadow: var(--sombra-primaria);
  }
}
label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-texto);
  margin-bottom: 0.2rem;
  line-height: 1;
}

.labelWhite {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-texto-accento);
  margin-bottom: 0.5rem;
}
.labelBlack {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-texto);
  margin-bottom: 0.5rem;
}
.white {
  color: var(--color-texto-accento) !important;
}
.terciario {
  background-color: var(--color-terciario);
}
.backBtn {
  background-color: transparent;
  font-size: 3rem;
  &:hover {
	background-color: var(--color-primario);
	text-decoration: none;
  }
}
